@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap");


/*---------------------------------------------------Fonts Styling----------------*/


.navbar-dark .navbar-brand {
    font-family: cursive;
    font-weight: 100;
    font-size: 20px;
    color: #FF1E00;

}


.Landing-image-logo-styling {
    font-family: cursive;
    font-weight: 100;
    font-size: 60px;
    margin-top: 350px;
    color: #FF1E00;
}

.Menu-image-logo-styling {
    font-family: cursive;
    font-weight: 100;
    font-size: 60px;
    margin-top: 200px;
    color:#fff;
}

.headings0-style {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;

}

.headings-style {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgb(247, 58, 58);

}

.Text-body-style-1 {
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    color: #310000;
}

.Text-body-style {
    font-family: 'Lato', sans-serif;
    color: #f2f2f3
}


header {
    margin: 0;
}

#Navbar-property {
    background-color: black;
    color: #FF1E00;
}

.image-container-property {
    text-align: center;
    height: 576px;
    background-image: url("../images/resturang-banner.jpg");
    background-size: cover;
    background-position: center;
    
}  

.Menu-header-property {
    text-align: center;
    height: 360px;
    background-image: url("../images/restaurant-dark-bar-architecture-34650.jpg");
    background-size: cover;
    background-position: center;
}

.section1-style {
    background-color: #FFF2F2;
}

.section2-style {
    padding: 60px 0;
    background-color: #FFF2F2;

}


.Intro-text {
    margin-top: 80px;
    margin-bottom: 40px;
}

.Menu-Categories {
    width:100%;
    height: 200px;
    text-align: center;
    list-style-type: none;
    
}

.MenuCat-section-style {
    padding: 50px 0 30px 0;
}

.Menu-Cat-spacing {
    margin-bottom: 5px;


}

.Button-style {
    margin: 30px 0;
    
}

.Veggie {
    background-image: url("../images/zi3000-shutterstock-buddha-bowl.jpg");
    background-size: cover;
    background-position: center;
    

}

.Pizza {
    background-image: url("../images/DSC_4464111.jpg");
    background-size: cover;
    background-position: center;
    
}

.Pasta {
    background-image: url("../images/468.jpg");
    background-size: cover;
    background-position: center;
   
}

.PizPasVeg {
    position: relative;
    top: 150px;
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;

}

.footer-prop {
    background-color: black;
    color: beige;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cuisine-menu {
    position: relative;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

/*----------------------------------------------------------------MENU IMAGES--*/
.menu-image1 {
    background-image: url("../images/114670765-italian-pizza-margherita-with-tomatoes-and-mozzarella-cheese-on-wooden-cutting-board-close-up.jpg");
    background-size: cover;
    background-position: center;
}

.menu-image2 {
    background-image: url("../images/18cb78f0e7dc9455712656ad075f67ad.jpg");
    background-size: cover;
    background-position: center;
}

.menu-image3 {
    background-image: url("../images/12.jpeg");
    background-size: cover;
    background-position: center;
}

.menu-image4 {
    background-image: url("../images/bucatini-all-amatriciana.jpg");
    background-size: cover;
    background-position: center;
}

.menu-image5 {
    background-image: url("../images/Gnocchi-alla-Sorrentina-Ricetta-Napoletana.jpg");
    background-size: cover;
    background-position: center;
}

.menu-image6 {
    background-image: url("../images/Pomodoro-Sauce-foodiecrush.com-015.jpg");
    background-size: cover;
    background-position: center;
}

.menu-image7 {
    background-image: url("../images/tortilla-patatas-2-lr-750x390.jpg");
    background-size: cover;
    background-position: center;
}

.menu-image8 {
    background-image: url("../images/15951---Vegetable-Spring-Rolls.jpg");
    background-size: cover;
    background-position: center;
}

.menu-image9 {
    background-image: url("../images/zi3000-shutterstock-buddha-bowl.jpg");
    background-size: cover;
    background-position: center;
}

.menu-images-spacing {
    padding: 20px 0;
    

}


.Display-menu-inline {
    display: inline-block;
    margin: 5px 15px 50px 15px;

}

.menu-itro-style {
    padding: 20px 80px;
}

/*------------------------------------------------------------------------------------------------Form-style--*/

.form-item {
    margin: 0;
}



.form-container {
    padding: 120px 0;
    background-image: url("../images/Artboard 1.png");
    background-size: cover;
    background-position: center;
   
}

.button-col-style {
    margin: 0;
    padding: 5px 20px;

}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    background-color: rgba(173, 173, 173, .8);
}

/*-------------------------------------------------------------------------------------About-Us--*/

.chef-image {
    background-image: url("../images/15738037535185rNjzYb1Ud8sb_O.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

.About-Col-spacing {
    margin-top: 30px;
    margin-bottom: 30px;
}

.About-form-spacing {
    margin: 50px 50px 20px 50px;
    padding: 50px 0;
    background-color: #FFF2F2;
}

.Abou-form-container {
    padding: 50px 0;
    background-image: url("../images/15738037535185rNjzYb1Ud8sb_O.jpg");
    background-size: cover;
    background-position: center;
    
   
}